@use '@/shared/brand-colors' as *;

.header {
    display: flex;
    align-items: center;
    background-color: var(--header-background-color);
    height: 4rem;
}

[data-theme='light'] {
    --header-background-color: var(--brand-color-sky-blue);
}

[data-theme='dark'] {
    --header-background-color: var(--brand-color-night);
}

.dialogOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    animation: overlayShow 250ms ease-out;
}


.subLinks {
    color: #bed6f6;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: var(--sidebar-background-color);
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 20px;
    animation: contentShow 200ms ease-out; /* Анимация выезда */
}

[data-theme='light'] {
    --sidebar-background-color: var(--brand-color-sky-blue);
}

[data-theme='dark'] {
    --sidebar-background-color: var(--brand-color-night);
}


.closing {
    animation: contentHide 150ms ease-in forwards; /* Анимация закрытия */
}

@keyframes overlayShow {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes contentShow {
    0% { transform: translateX(-100%); } /* Выезд слева */
    100% { transform: translateX(0); }
}

@keyframes contentHide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); } /* Закрытие влево */
}

.closeButton {
    align-self: flex-end;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
