.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startSellButton {
    background-color: cornflowerblue;
    padding: 0.8rem;
    color: white;
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: 5px;
}