$brand-color-gold-yellow: #F9C646;
$brand-color-sky-blue: #0261CB;

$brand-color-success: forestgreen;
$brand-color-pending: yellow;
$brand-color-fail: indianred;

.bg-sky-blue{
  background-color: $brand-color-sky-blue;
}

.bg-gold-yellow{
  background-color: $brand-color-gold-yellow;
}
