body {
  background-color: var(--body-background-color);
}

[data-theme='light'] {
  --body-background-color: var(--brand-color-pure-white);
}

[data-theme='dark'] {
  --body-background-color: var(--brand-color-gray);
}