.channelCard{
  background-color: var(--channel-card-background-color);
}

[data-theme='light'] {
  --channel-card-background-color: var(--brand-color-pure-white);
}

[data-theme='dark'] {
  --channel-card-background-color: var(--brand-color-retro-white);
}