@import '@/shared/brand-variables.scss';

.productCart{
  border: 1.5px rgba(128, 128, 128, 0.32) solid;
  border-radius: 0.5rem;
  padding: 0.4rem;
}
.product-status {
  &-active{
    color: $brand-color-success;
  }
  &-waiting_for_approval{
    color: $brand-color-pending;
  }
  &-rejected{
    color: $brand-color-fail;
  }
}