@import '@/shared/brand-colors';

.productCard{
  background-color: var(--product-card-background-color);
}

[data-theme='light'] {
  --product-card-background-color: var(--brand-color-pure-white);
}

[data-theme='dark'] {
  --product-card-background-color: var(--brand-color-retro-white);
}

.product-status {
  &-active{
    color: $brand-color-success;
  }
  &-waiting_for_approval{
    color: $brand-color-pending;
  }
  &-rejected{
    color: $brand-color-fail;
  }
}